/* Подключаем шрифты, основные цвета и т.д */
@font-face {
  font-family: 'Larsseit';
  src: url('./assets/fonts/Larsseit-Light.eot');
  src: local('☺'), url('./assets/fonts/Larsseit-Light.woff') format('woff'),
    url('./assets/fonts/Larsseit-Light.ttf') format('truetype'),
    url('./assets/fonts/Larsseit-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('./assets/fonts/Larsseit.eot');
  src: local('☺'), url('./assets/fonts/Larsseit.woff') format('woff'),
    url('./assets/fonts/Larsseit.ttf') format('truetype'),
    url('./assets/fonts/Larsseit.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('./assets/fonts/Larsseit-Medium.eot');
  src: local('☺'),
    url('./assets/fonts/Larsseit-Medium.woff') format('woff'),
    url('./assets/fonts/Larsseit-Medium.ttf') format('truetype'),
    url('./assets/fonts/Larsseit-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('./assets/fonts/Larsseit-Bold.eot');
  src: local('☺'), url('./assets/fonts/Larsseit-Bold.woff') format('woff'),
    url('./assets/fonts/Larsseit-Bold.ttf') format('truetype'),
    url('./assets/fonts/Larsseit-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: Larsseit;

  --color-bg: #fff;

  --color-navbar: rgb(254, 255, 182);

  --color-menu-burger: rgb(173, 255, 153);

  --color-menu-burger-link: #f9ffa2;

  --color-intro: #f4f9e2;

  --color-intro-right: rgb(155, 255, 238);

  --color-blue: #62d0df;

  --color-dark-blue: #22356f;
}
